.searchbar {
  align-self: center;
}

.searchbox {
  min-width: 24rem;
  height: 2.75rem;
  background-color: var(--neutral-darken);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: none;
}

.searchbox::placeholder {
  font-weight: 500;
  color: var(--neutral-darken-content);
}
