.searchbar {
  align-self: center;
}

.searchbox {
  appearance: none;
  min-width: 24rem;
  height: 2.75rem;
  background-color: var(--neutral-darken);
  color: var(--neutral-darken-content);
  border-radius: 0.5rem;
}
