.menubar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-all {
  vertical-align: bottom;
}

.select-all_label_number {
  font-weight: 700;
}
