.app {
  background-color: var(--neutral-light);
  color: var(--neutral-light-content);
}

.app_title {
  height: 64px;
  background-color: var(--neutral-darker);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 1.5rem 0;
}

.app_container {
  max-width: 1440px;
  margin: auto;
  height: calc(100% - 64px - 1.5rem);
}

.menubar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-all:indeterminate,
.select-all:checked {
  border-style: solid;
  border-color: var(--primary-content);
  border-width: 2px;
  border-radius: 2px;
  background-color: var(--primary);
}

.select-all_label_number {
  font-weight: 700;
}

.feed {
  align-self: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
}
