.app {
  background-color: var(--neutral-light);
  color: var(--neutral-light-content);
}

.app_title {
  height: 64px;
  background-color: var(--neutral-darker);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 1.5rem 0;
}

.app_container {
  max-width: 1440px;
  margin: auto;
  height: calc(100% - 64px - 1.5rem);
}
