:root {
  --neutral-light: #ffffff;
  --neutral-light-content: #000000;
  --neutral-darken: #d5d5d5;
  --neutral-darken-content: #000000;
  --neutral-darker: #929292;
  --neutral-darker-content: #000000;
  --primary: #00a1ff;
  --primary-content: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
