.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-static {
  flex-grow: 0;
  flex-shrink: 1;
}

.flex-fill {
  flex-grow: 1;
  flex-shrink: 1;
}

.full-height {
  height: 100%;
}

.h1 {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.h2 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.text-neutral-darker {
  color: var(--neutral-darker);
}

.sr-only {
  font-size: 0;
}

.btn-ghost {
  background-color: transparent;
  border: none;
}

.icon-sm {
  width: 1.5rem;
  height: 1.5rem;
}

.mx-md {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}
